* {
  padding: 0;
  margin: 0;
}
body {
  margin: auto;
  width: 1500px;
  height: 740px;
  font-family: Arial, Helvetica, sans-serif;
}
/* main */
main {
  position: relative;
  padding-top: 1.5px;
  width: 1500px;
  height: 740px;
  border-radius: 20px;
  background-position: center;
  background-image: url("data/img/background.png");
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

/* content */
.content {
  margin-top: 13px;
  margin-left: -130px;
  width: 1000px;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ct1 {
  width: 500px;
  height: 70px;
  align-items: center;
  display: flex;
  font-size: 30px;
  font-weight: bold;
  color: white;
}

.ct2 {
  position: relative;
  width: 250px;
  height: 70px;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
  color: white;
}

.ct2 .vong1 {
  margin-top: -15px;
  margin-left: -105px;
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 22px;
  border: 4px solid white;
  width: 50%;
  height: 50%;
  clip-path: polygon(0% 0%, 30% 0%, 100% 50%, 0% 50%);
}

.ct2 .vong2 {
  margin-top: 15px;
  margin-left: 106px;
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 22px;
  border: 4px solid white;
  width: 50%;
  height: 50%;
  clip-path: polygon(0% 0%, 30% 0%, 100% 50%, 0% 50%);
  transform: rotate(180deg);
}

.ct2 input {
  border: none;
  width: 200px;
  height: 20px;
  border-radius: 13px;
  padding: 10px;
}

/* content-table */
.content-table {
  margin-left: -130px;
  width: 1000px;
  height: 50px;
  display: flex;
  gap: 100px;
  display: flex;
  align-items: center;
}

.ds {
  width: 300px;
  height: 50px;
  display: flex;
  align-items: center;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.content-table button {
  width: 130px;
  height: 40px;
  font-size: 14px;
  background-color: pink;
  border: none;
  border-radius: 10px;
  font-weight: bold;
}
.content-table button:hover {
  transform: scale(1.04);
  transition: 0.2s ease;
}
/* table */
.table {
  margin-left: -130px;
  width: 1000px;
  height: 500px;
  background-color: rgb(235, 229, 229);
  border-radius: 25px;
  box-shadow: 0 0 17px 5px black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.ss {
  width: 950px;
  /* background-color: rgb(242, 125, 218); */
  height: 10px;
  margin-top: 5px;
  display: flex;
  align-items: center;
}
.s1 {
  width: 10px;
  height: 10px;
  border: 3.5px solid rgb(242, 125, 218);
}
.s2 {
  width: 923px;
  background-color: rgb(242, 125, 218);
  height: 5px;
}

.cc {
  width: 940px;
  height: 455px;
  border-right: 5px solid rgb(242, 125, 218);
  border-left: 5px solid rgb(242, 125, 218);
}
/* end */
.end {
  margin-top: -10px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
  color: white;
  margin-left: -130px;
  width: 1000px;
  height: 40px;
}
.end a {
  margin-left: 10px;
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
.end p {
  opacity: 0.4;
}

.end button {
  background-color: rgb(242, 125, 218);
  border-radius: 20px;
  width: 100px;
  height: 30px;
}

.end button:hover {
  opacity: 0.7;
  transform: scale(0.97);
  transition: 0.2s ease-in-out;
}


/* Video AI */
.video-ai{
  position: absolute;
  width: 170px;
  height: 170px;
  margin-top: 460px;
  margin-left: 1200px;
  border-radius: 50%;
}

.video-ai video{
  width: 170px;
  height: 170px;
  border-radius: 50%;
  opacity: 1;
  transition: opacity 7s;
}
/* box-black */
.box-black{
  width: 1500px;
  height: 740px;
  position: absolute;
  background-color: black;
  border-radius: 20px;
  opacity: 0.5;
  z-index: 1;
  display: none;
}

/* model-new */
#hiddenDiv {
  display: none;
  z-index: 2;
  box-shadow: 0 0 20px 5px rgb(232, 154, 236);

}
.model-new {  
  position: absolute;
  width: 500px;
  height: 560px;
  /* background-color: white; */
  background-image: linear-gradient(to bottom right, rgb(239, 236, 239), rgb(153, 192, 243)); 
  border-radius: 30px;
  align-items: center;
  justify-content: center;
  padding: 0 20px 0 20px;
}

.close {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
  width: 500px;
  height: 30px;
}

.close p {
  width: 10px;
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  opacity: 0.8;
  padding: 10px;
  background-color: red;
  color: rgb(83, 75, 75);
}

.close p:hover {
  transform: scale(0.9);
  transition: 0.2s ease-in;
  cursor: pointer;
}

/* form-new-model */
.content-new{
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color:rgb(194, 87, 200);
  height: 30px;
  /* background-color: red; */
}

/* form-input */
.model-new form{
  width: 500px;
  height: 400px;
  margin-top: 5px;
}

.form-container {
  width: 500px;
  position: relative;
}
.form-group {
  display: flex;
  margin-bottom: 20px;
}
.form-group label {
  padding-left: 20px;
  display: flex;
  align-items: center;
  width: 130px;
  font-size: 16px;
  font-weight: bold;
}
.form-group input {
  width: 220px;
  padding: 9px;
  border-radius: 20px;
}

.form-container form button{
  position: absolute;
  margin-top: -70px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  background-color: rgb(107, 107, 195);
  margin-left: 420px;
  color: white;
  font-weight: bold;
}
.form-container form button:hover{
  transform: scale(0.95);
  transition: 0.2s ease;
}

/* input-f1-score */
.form-group input#f1score {
  color: red;
  font-weight: bold;
  background-color: beige;
}
/* input-Id-model */
.form-group input#id {
  color: green;
  font-weight: bold;
  background-color: beige;
}
